.container1{
    height: 130px;
    width: 400px;
    /* border: 1px solid black; */
    margin: 5% auto;
    background-color: rgb(49, 47, 47);
}
.container2{
    height: 300px;
    width: 400px;
    /* border: 1px solid black; */
    margin: 5% auto;
    background-color: rgb(49, 47, 47);
}
input{
    margin-left: 45px;
}
li{
    list-style: none;
}